:root{
  --box-shadow:0px 0px 15px white;
}
body{
  background-color: rgb(11,26,51);
  color:white;
}
a{
  text-decoration: none;
  color:white;
}
.nav_bar{
display:flex;
justify-content: space-between;
align-items: center;
margin-top: 10px;
}
.nav_bar .nav_items{
  padding:16px;
  font-size:1.2rem;
  font-weight:bold;
  margin-right: 10px;;
}
.nav_bar .nav_items:hover{
  border-bottom:3px solid rgb(252, 186, 81);
}
.home{
  height:90vh;
  display:flex;
  justify-content: space-between;
  align-items:center;
}
.home .right .img{
display:flex;
justify-content:flex-end;
align-items: end;
}
.home .right .img img{
  height:350px;
  width:350px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px white;
  animation:codergirl;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.home .left{
  background-color: black;
  width:500px;
  box-shadow: 0px 0px 10px rgb(0, 179, 255);
  text-align:center;
  padding:30px;
  border:1px solid white;
}
@keyframes codergirl{
  0%{
    border:white;
    transform:translate(0px, 0px);
    box-shadow:10px 10px 100px 30px white;

  }
  25%{
    border:rgb(187, 0, 255);
   box-shadow:10px 10px 100px 30px rgb(187, 0, 255);


  }
  50%{
    border:rgb(0, 179, 255);
    transform:translate(0px, 20px);
    box-shadow:10px 10px 100px 30px rgb(0, 179, 255);
  }
  75%{
    border:rgb(255, 0, 204);
    
    box-shadow:10px 10px 100px 30px rgb(255, 0, 204);

  }
  100%{
    border:rgb(0, 200, 255);
    transform:translate(0px, 0px);
    box-shadow:10px 10px 100px 30px rgb(0, 200, 255);
  }
}
.items .item div{
  height:185px;
  width:175px;
  border:2px solid white;
 border-radius:10px;
  margin-bottom:40px;
  margin-right:100px;
  margin-left:100px;
  box-shadow:0px 0px 15px   rgb(0, 200, 255);
 
}
.items .item div:hover{
  box-shadow:0px 0px 15px   rgb(249, 249, 111);
}

.items .item{
 
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align:center;
  padding-top:0px;
  font-size:50px;

}
.items .item div span{
  font-size:2rem;
  font-weight:bold;
  color:whitesmoke;
}
.items_icon{
  height:80px;
  width:80px;
  background-color: rgb(172, 200, 205);
  margin-right:4rem;
  text-align:center;
  padding-top:20px;
  border-radius:50%;
  border:2px solid hotpink;
  box-shadow:0x 0px 5px 5px hotpink;
  
}
.items_icon:hover{
  height:85px;
  width:85px;
  box-shadow: 0px 0px 10px 5px whitesmoke;
}

